* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 30px;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    gap: 30px;
    color: #e5e7eb;
    font-size: 18px;
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.btn-section-1 {
    background-color: #3882f6;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 7px;
    color: white;
    margin-top: 10px;
}

.section-2 {
    padding: 70px;
}

.para-section-2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    padding-bottom: 35px;
}

.container-content-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.img-content-section-2 {
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 130px;
    height: 130px;

}

.para-content {
    text-align: center;
    max-width: 170px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 {
    background-color: #e5e7eb;
    padding: 70px;
    display: flex;
    justify-content: center;
}

.container-section-3 {
    width: 900px;
}

.para-section-3 {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: left;
    width: 940px;
}

.para-writer {
    text-align: end;
    font-weight: bolder;
}
.section-4{
    padding: 70px;
    display: flex;
    justify-content: center;
}
.container-section-4{
    background-color: #3882f6;
    display: flex;
    align-items: center;
    padding: 40px 100px 40px 100px;
    gap: 70px;
    border-radius: 5px;
}
.para-cta{
    font-weight: bolder;
    color: #e5e7eb;
}
.para-signup{
    color: #e5e7eb;
}
.btn-section-4 {
    background-color: #3882f6;
    width: 120px;
    height: 30px;
    border: 1px white solid;
    border-radius: 7px;
    color: white;
    font-weight: bold;
}