*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 70px;
}
header h1{
    font-size: 24px;
    color: #f9faf8;
}
.header{
    display: flex;
    gap: 30px;
    color: #e5e7eb;
    font-size: 18px;
}